body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
{
margin:0;padding:0;
}
table /* 设置table 的样式*/
{
border-collapse:collapse;
border-spacing:0;
}
fieldset, img
{
border:0;
}
em, strong
{
font-style:normal;
font-weight:normal;
}
li
{
list-style:none;
}
h1, h2, h3, h4, h5, h6
{
font-size:100%;
font-weight:lighter;
}
body, input, button, textarea
{
font-size:12px;
color: #fff;
font-family:'OpenSans','Microsoft Yahei',Arial, Helvetica, sans-serif;
}
@font-face {
font-family:OpenSans;
src: url('../fonts/OpenSans-Regular.ttf'); 
}

a{ text-decoration:none;outline:none;}
a:hover{ cursor:pointer;}
th, td{vertical-align:top;}
.clear{
	clear: both;
}
body{
	width: 100%;
	margin: 0 auto;
}


nav{
	z-index: 999;
	/*width: 1200px;*/
	width: 100%;
	margin:0 auto;
	height: 45px;
	position: relative;
}
nav .logo{
	width: 165px;
	height: 45px;
	display: inline-block;
	float: left;
	background: url(../images/icon.png) no-repeat;
}
nav .logo span{
	float:right;
	margin-right: 5px;
	color:#fff;
	font-size: 24px;
	line-height: 45px;

}
nav .nav{
	
	margin-left: 80px;
	float: left;

}
nav .nav .nav_item{
	width: 100px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
	color: #fff;
	border: 1px solid #1a3849;
	border-radius:30px;
	
}
nav .nav .nav_item.selected{
	border: 1px solid #6cddff;	
    -webkit-animation-name: "buttonLight"; 
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    background: #254d5e;
    /*background: url(../images/hover.png) no-repeat center;*/
}
nav .nav .nav_item:hover{
	border: 1px solid #6cddff;	
	background: #254d5e;
	/*background: url(../images/hover.png) no-repeat center;*/
}
nav .lang{
	
	float: right;
}
nav .lang span{
	color: #787370;
}
nav .lang a{
	margin-left: 5px;
	margin-right: 5px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
	color:#fff;
	opacity: 0.5;
	text-align: center;
}
nav .lang a:hover{
	color: #fff;
	opacity: 1;
}
nav .lang a.selected{
	color: #fff;
	opacity: 1;
}

#more .select_more a{
	color:#000;
}

@-webkit-keyframes 'buttonLight' {
     from {
       border: 1px solid #3e92af;
     }
     15%{
     	border: 1px solid #6cddff;
     }
     25% {
       border: 1px solid #bef9ff;
    }
    50% {
      border: 1px solid #5493cc;
    }
    75% {
      border: 1px solid #bef9ff;
    }
    85%{
      border: 1px solid #6cddff;
    }
   to {
     border: 1px solid #3e92af;
    }
  }
@media only screen and (min-width: 1000px)and (max-width: 1200px){
    .foot{
    	width: 1000px;
    }
}